@font-face {
  font-family: "PTSansNarrow";
  src: url(./assets/PT_Sans_Narrow/PT_Sans_Narrow/PTSansNarrow-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body[data-aos-duration="4000"] [data-aos],
[data-aos][data-aos][data-aos-duration="4000"] {
  transition-duration: 4000ms;
}
a {
  cursor: pointer;
  text-decoration: none;
}
body {
  background-color: #0f1922;
}
nav {
  width: 100%;
  height: 9vh;
  display: flex;
  align-items: center;
  justify-content: end;
  position: fixed;
  background-color: transparent;
  z-index: 90;
  background-color: transparent;
}
.control {
  width: 20vw;
  grid-gap: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 100px;
}
a {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 900;
}
.introPage {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
  background-attachment: fixed;
  background-color: #ff9900;
  /* grid-gap: 30px; */
  background-image: url(./assets/future-grid.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.some {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.heading {
  color: #fff;
  font-family: "Rajdhani", sans-serif;
  text-align: center;
  z-index: 1;
  font-size: 100px;
  letter-spacing: 1.6px;
  font-weight: 900;
  width: 100%;
}
.iAm {
  font-size: 50px !important;
}
.name {
  font-size: 80px;
  color: #0f1922;
}
.button {
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  color: #fff;
  border: 2px solid #fff;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-left-color: transparent;
  border-right-color: transparent;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 0.35s;
  background-color: transparent;
  cursor: pointer;
  z-index: 1;
  margin-top: 45px;
}

.button span {
  position: relative;
  letter-spacing: 2px;
  font-weight: 900;
  z-index: 10;
}

.button:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: linear-gradient(1deg, #fff 100%, gray 10%);
  transition: all 0.5s;
  color: #000;
  letter-spacing: 4px;
}
.button:hover {
  color: #0f1922;
}

.button:hover:after {
  width: 100%;
}
/* ................................................................................................. */
.aboutPage {
  /* position: absolute; */
  width: 100%;
  height: 100vh;
  background-color: #0f1922;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 100px;
  flex-direction: row;
}
.imagePart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
  background-color: #000;
  border-radius: 100%;
  /* background-image: url(./assets/Vector.png); */
  background-attachment: fixed;
  background-image: url(./assets/Vector.png);
  background-position: center;
  background-size: cover;
}
.myPic {
  width: 200px;
  height: auto;
  border-radius: 100%;
  opacity: 0.9;
}
.aboutHeading {
  font-family: "Rajdhani", sans-serif;
  text-align: left;
  color: #ff9900;
  font-weight: 600;
  font-size: 30px;
  width: 100%;
}
p {
  font-size: 18px;
  word-spacing: 1.5px;
  font-weight: 300;
  /* text-align: justify; */
  /* text-indent: 30px; */
  letter-spacing: 1px;
  word-spacing: normal;
  line-break: auto;
}
.aboutPart {
  width: 50%;
  font-family: "Poppins", sans-serif;
  color: #fff;
  display: flex;
  align-items: center;
  text-align: left;
  flex-direction: column;
  grid-gap: 40px;
}

/* ................................................................................................. */
.worksHeading {
  width: 100%;
  height: 20vh;
  background: linear-gradient(to bottom, #0f1922, black);
  display: flex;
  align-items: end;
  justify-content: center;
}
.work {
  text-align: center !important;
}
.Projects {
  width: 100%;
  height: 240vh;
  background-color: black;
  background-image: linear-gradient(to right, transparent 50%, #ff9900 50%);
  background-size: 3px 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.displayProj {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.firstproj {
  margin-top: 120px;
}
.projectImage {
  width: 40%;
}
.image {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.projuctNuber {
  width: 80px;
  background-color: #ff9900;
  height: 80px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-family: "Rajdhani", sans-serif;
  font-weight: 600;
}
.projectDiscription {
  color: white;
  width: 100%;
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
section {
  width: 40%;
  display: flex;
  align-items: self-start;
  justify-content: center;
  flex-direction: column;
}
.visitButton {
  width: 150px;
  height: 33px;
  border: none;
  background-color: #0f1922;
  opacity: 0.8;
}
.lastproj {
  margin-bottom: 100px;
}
.access {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
}
/* ................................................................................................. */
.contact {
  width: 100%;
  height: 90vh;
  background: linear-gradient(to top, #0f1922, black);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.icons {
  margin-top: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.media {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 15vw;
  grid-gap: 15px;
  border: 2px solid #fff;
  border-right-color: white;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
  cursor: pointer;
}
.insta {
  border: 2px solid #fff;
  border-right-color: white;
  border-top-color: transparent;
  border-left-color: white;
  border-bottom-color: transparent;
}
h6:hover {
  color: #ff9900;
}
h6 {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  color: #fff;
}
/* ................................................................................................. */
@media only screen and (max-width: 600px) {
  nav {
    display: none;
  }
  .iAm {
    font-size: 30px !important;
  }
  .introPage {
    background-image: url("./assets/new\ backGround.svg");
    background-attachment: fixed;
  }
  .button,
  span {
    width: 150px;
    height: 30px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .name {
    font-size: 40px;
  }
  .heading {
    font-size: 30px;
  }
  .aboutPage {
    flex-direction: column;
  }
  .aboutPart {
    width: 90%;
  }
  .aboutHeading {
    text-align: center;
  }
  .imagePart {
    width: 300px;
    height: 300px;
  }
  .myPic {
    width: 170px;
  }
  p {
    width: 100%;
    text-align: center;
    font-size: 15px;
  }
  .Projects {
    background-image: linear-gradient(to right, transparent 50%, #ff9900 50%);
    background-size: 3px 100%;
    background-position: calc(100% - 50px) 0;
  }
  .displayProj {
    flex-direction: column;
  }
  .projuctNuber {
    width: 50px;
    height: 50px;
    margin-left: 290px;
  }
  section {
    width: 68%;
  }
  .projectImage {
    width: 50%;
  }
  .projectDiscription {
    text-align: center;
  }
  .icons {
    display: flex;
    height: 25vh;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
  }
  .media {
    border: none;
    width: 100%;
  }
  h6 {
    font-size: 15px;
  }
  img {
    width: 25px;
  }
  .access {
    margin-bottom: 100px;
    width: 100%;
  }
  .visitButton {
    width: 100px;
  }
  .contact {
    height: 100vh;
  }
}
